.container {
  display: flex;
  margin: 50px;
  background-color: gray;
  width: 70%;
  height: 70%;
  padding: 15px;
}

.file {}

.wrapElement {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.elementName {
  text-align: left;
  min-width: 50px;
  margin-bottom: 20px;
}

.tab:global(.ant-tabs-tabpane) {
  overflow-y: scroll;
  width: 600px;
  height: 300px;
  padding-left: 20px;
  text-align: left;
}

.tabs:global(.ant-tabs) {
  margin-left: 20px;

}

.tabs :global(.ant-tabs-tab) {
  padding: 0;
}

.wrap {
  width: 100%;
}

.name {
  text-align: left;
  margin-bottom: 10px;
}

.about {
  text-align: left;
  margin-bottom: 10px;
}

.item {
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.itemActive {
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  border-bottom: 1px solid black;
}

.wrapButtons {
  display: flex;
  width: 70%;
}

.buttonEdit {
  margin-right: 15px;
}